<div class="container-flui">
  <div class="banner-box">
    <img class="banner" src="../assets/banner.png" alt="">
    <div class="boxes">
      <div class="head-box blue-bg">
        <img class="ico" src="../assets/time.png" alt="">
        <p class="head">Fastest Pick-up</p>
        <p class="txt">Lorem Ipsum is simply dummy text of the printing</p>
      </div>
      <div class="head-box olive-bg">
        <img class="ico1" src="../assets/car1.png" alt="">
        <p class="head">Quick Booking</p>
        <p class="txt">Lorem Ipsum is simply dummy text of the printing</p>
      </div>
      <div class="head-box pink-bg">
        <img class="ico2" src="../assets/car2.png" alt="">
        <p class="head">Quick Booking</p>
        <p class="txt">Lorem Ipsum is simply dummy text of the printing</p>
      </div>
    </div>
  </div>
  <div class="info">
    <div class="box">
      <div>
        <img class="i1" src="../assets/i1.png" alt="">
      </div>
      <p>Free Cancellation</p>
    </div>
    <div class="box">
      <div>
        <img class="i2" src="../assets/i2.png" alt="">
      </div>
      <p>Free Cancellation</p>
    </div>
    <div class="box">
      <div>
        <img class="i3" src="../assets/i3.png" alt="">
      </div>
      <p>Free Cancellation</p>
    </div>
  </div>
  <div class="book">
    <div class="box">
      <div class="txt">
        Book a car rental near you by giving us a call!
      </div>
      <div class="num">
        +91 83998 37633
      </div>
    </div>
  </div>
  <div class="best">
    <p class="p1">
      Best car and van rental from top suppliers
    </p>
    <p class="p2">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard
    </p>
  </div>
  <div class="car-box">
    <div class="cars">
      <div class="car">
        <img class="c1" src="../assets/c1.png" alt="">
      </div>
      <div class="txt-box1">
        <p class="p1">
          Economy
        </p>
        <p class="p2">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard
        </p>
      </div>
    </div>
    <div class="cars">
      <div class="car">
        <img class="c2" src="../assets/c2.png" alt="">
      </div>
      <div class="txt-box2">
        <p class="p1">
          Luxury
        </p>
        <p class="p2">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard
        </p>
      </div>
    </div>
    <div class="cars">
      <div class="car">
        <img class="c3" src="../assets/c3.png" alt="">
      </div>
      <div class="txt-box3">
        <p class="p1">
          Convertible
        </p>
        <p class="p2">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard
        </p>
      </div>
    </div>
    <div class="cars">
      <div class="car">
        <img class="c4" src="../assets/c4.png" alt="">
      </div>
      <div class="txt-box4">
        <p class="p1">
          SUV
        </p>
        <p class="p2">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard
        </p>
      </div>
    </div>
    <div class="cars">
      <div class="car">
        <img class="c5" src="../assets/c5.png" alt="">
      </div>
      <div class="txt-box5">
        <p class="p1">
          Van/Minivan
        </p>
        <p class="p2">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard
        </p>
      </div>
    </div>
  </div>
  <div class="top-car">
    <div class="box">
      <div class="txt">
        Best valued deals from top car rental companies in USA
      </div>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. been the industry's standard dummy .
      </p>
      <div class="num">
        LEARN MORE
      </div>
    </div>
  </div>
  <div class="rent">
    <div class="img-box">
      <div class="img1">
        <img class="c5" src="../assets/ii1.png" alt="">
        <div class="img2">
          <img class="c5" src="../assets/ii2.png" alt="">
        </div>
      </div>

    </div>
    <div class="txt-box">
      <p class="p1">
        Rent the perfect car
      </p>
      <p class="p2">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.
      </p>
      <p class="p3">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      </p>
      <div class="num">
        START NOW
      </div>
    </div>
  </div>
  <div class="traveler">
    <div class="img-box">
      <div class="img-line">
        <img class="c5" src="../assets/im1.png" alt="">
        <img class="c5" src="../assets/im2.png" alt="">
        <img class="c5" src="../assets/im3.png" alt="">
      </div>
      <div class="img-line">
        <img class="c5" src="../assets/im4.png" alt="">
        <img class="c5" src="../assets/im5.png" alt="">
        <img class="c5" src="../assets/im6.png" alt="">
      </div>
    </div>
    <div class="txt-box">
      <p class="p1">
        Car Rental Traveler Information
      </p>
      <p class="p2">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s,
      </p>
      <div class="num">
        START NOW
      </div>
    </div>
  </div>
  <div class="b-car">
    <div class="brown">
      <img class="c5" src="../assets/b1.png" alt="">
      <div class="car">
        <img class="c5" src="../assets/b2.png" alt="">
      </div>
    </div>
  </div>
  <div class="b-txt">
    <div class="txt-box">
      <p class="p1">
        Car Rental Traveler Information
      </p>
      <p class="p2">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s,
      </p>
      <div class="num">
        LEARN MORE
      </div>
      <div class="wa">
        <img class="c5" src="../assets/wa.png" alt="">
        <p>Whatsapp Support</p>
      </div>
    </div>
  </div>

  <div class="b-box">
    <div class="b-buttons">
      <div>
        <div class="b1">
          EMAIL ID
        </div>
      </div>
      <div class="b-l">
        <div class="b2">
          SUBMIT
        </div>
        <div class="b3">
          +91 83998 37633
        </div>
        <div class="b4">
          LIVE CHAT
        </div>
      </div>
    </div>
  </div>
  <div class="f1"></div>
  <div class="f2">
    <p>
      Terms & Conditions
    </p>
  </div>


</div>